.table-center table td {
  text-align: center;
}

.table-center table td:nth-child(4) {
  text-align: left;
}
.row{
  min-width: 300px;
  .board-column {
    min-width: 300px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.moves-column {

  .result {
    display: inline;
    font-weight: bold;
    float: left;
    margin: 0 3px;
  }

  .players {
    font-weight: bold;
    text-align: center;
  }

  .moves {
    padding: 15px;
  }
}

