.card {
  margin: 10px;
  width: 305px;

  &.bigger {
    min-height: 500px;
    width: 350px;
  }

  .position {
    padding: 5px 5px 0 5px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &.bigger {
      padding: 15px 15px 0 15px;
    }
  }
}